<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro de Ferramenta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item button *ngFor="let f of ferramentas" (click)="details(f, ferramentas)">
      <ion-label>{{f.product}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab (click)="addFerramenta()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>